.wrapper {
  display: flex;
  flex-direction: row;
}

.wrapper .list,
.wrapper .detail {
  width: 50%;
}

.item {
  display: flex;
  flex-direction: row;
  border: 1px gray solid;
  margin: 2rem;
  border-radius: 1rem;
}

.item span {
  color: gray;
}

.item .image {
  margin: 10px;
}

.item .content {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.price {
  font-size: 1.5em;
}

.realprice {
  text-decoration: line-through;
  vertical-align: top;
}

.item .content .title {
  font-size: 2em;
}

.item .action {
  padding: 50px 0 0 0;
}
